DEINICO — hoy a las 22:50
<h1>LISTADO TORNEOS</h1>

<form action="agregar" style="display:inline">
    <input type="submit" value="Crear Nuevo Usuario" />
</form>

<a href="esportsruta2/listadoPorRol">Listar Organizador por torneo</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha inicio</th>
            <th>Fecha Fin</th>
            <th>Numero de participantes</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody id="datos">
            <% lusuarios.forEach( function(elem) { %>
                <tr>
                    <td><%= elem.id %></td>
                    <td><%= elem.nombre %></td>
                    <td><%= elem.fechainicio %></td>
                    <td><%= elem.fechafin %></td>
                    <td><%= elem.maximoparticipante %></td>
                        <% lroles.forEach( function(r)  { 
                            if (r.id == elem.rolId) { %> 
                                <td> <%= r.nombre %></td>
                            <% } %>
                        <%}) %>



                <td>
                <td>
                    <form action="actualizar" method="GET">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Actualizar" />
                    </form>
                </td>
                <td>
                    <form action="eliminar" method="GET">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Eliminar" />
                    </form>
                </td>
                </tr>
             <% }) %>
     </tbody>
</table>
