<h1>LISTADO TORNEOS</h1>

<form action="agregar" style="display:inline">
    <input type="submit" value="Crear Nuevo Usuario" />
</form>

<a href="esportsruta2/listadoPorRol">Lista de torneos Participante Lider</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de torneo</th>
            <th>Descripción</th>
            <th>Número de equipos registrados</th>
            <th>Numero máximo de equipos</th>
            <th>Estado</th>
            <th>¿Inscrito?</th>
        </tr>
    </thead>
    <tbody id="datos">
            <% lusuarios.forEach( function(elem) { %>
                <tr>
                    <td><%= elem.nombre %></td>
                    <td><%= elem.descripcion %></td>
                    <td><%= elem.correoelectronico %></td>
                    <td><%= elem.correoelectronico %></td>
                    <td><%= elem.Estado %></td>
                    <td><%= elem.inscrito %></td>
                        <% lroles.forEach( function(r)  { 
                            if (r.id == elem.rolId) { %> 
                                <td> <%= r.nombre %></td>
                            <% } %>
                        <%}) %>


                <td>
                <td>
                    <form action="actualizar" method="GET">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Actualizar" />
                    </form>
                </td>
                <td>
                    <form action="eliminar" method="GET">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Eliminar" />
                    </form>
                </td>
                </tr>
             <% }) %>
     </tbody>
</table>


